<%= form_for(@timer) do |f| %>
  <% if @timer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timer.errors.count, "error") %> prohibited this timer from being saved:</h2>

      <ul>
      <% @timer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :survey_id %>
  <div class="field">
    <%= f.label :loops_completed %><br>
    <%= f.number_field :loops_completed %> (<%= @survey.loops%>)
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit "Smash the tomato?"%>
  </div>
<% end %>
