<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @timer.survey %>
</p>

<p>
  <strong>Loops completed:</strong>
  <%= @timer.loops_completed %>
</p>

<%= link_to 'Edit', edit_timer_path(@timer) %> |
<%= link_to 'Back', timers_path %>
